<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SenderMail" value="k163825@nu.edu.pk"/>
    <add key="Password" value=""/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="LogPath" value="C:\Users\muham\source\repos\k163825_Q3\log.txt"/>
    <add key="xmlPath" value="C:\Users\muham\source\repos\k163825_Q3\Emailxml"/>
    <add key="LastEmail" value="C:\Users\muham\source\repos\k163825_Q3\nextemail.txt"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="k163825@nu.edu.pk">
        <network host="smtp.gmail.com" userName="k163825@nu.edu.pk" password="" enableSsl="true" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>