<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SenderMail" value="your email"/>
    <add key="Password" value=""/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="LogPath" value="C:\Users\mycomp\source\repos\log.txt"/>
    <add key="xmlPath" value="C:\Users\mycomp\source\repos\Emailxml"/>
    <add key="LastEmail" value="C:\Users\mycomp\source\repos\nextemail.txt"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="your email">
        <network host="smtp.gmail.com" userName="your email" password="your pwd" enableSsl="true" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
